
DATABASE_URL=

BETTER_AUTH_SECRET=

BETTER_AUTH_URL=

NODE_ENV=
PORT=


EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_HOST=
EMAIL_SENDER_SMTP_PORT=
EMAIL_SENDER_SMTP_FROM=

GOOGLE_CLIENT_SECRET=

GOOGLE_CLIENT_ID=


FRONTEND_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_API_KEY=
CLOUDINARY_CLOUD_API_SECRET=

STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_KEY=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=